<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../View/styles/navegacion.css">
    <link rel="stylesheet" type="text/css" href="../View/styles/bandejaentrada.css">

    <title>BookVault</title>
</head>

<body>
    
    <nav id="navbar">
        <div class="nav-section">
            <div class="icon-menu" id="menu-icon">
                <img class="menu-icon" src="../View/imagenes/menu.png" alt="Menu">
            </div>
            <div class="divider">
                <img src="../View/imagenes/Titulo.png" alt="Divider">
            </div>
            <div class="search-bar" id="search-bar">
                <img class="search-icon" src="../View/imagenes/Busqueda.png" alt="Search">
                <input type="text" placeholder="Que vamos a buscar?">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/Retro.png" alt="Retroalimentacion">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/usuario.png" alt="Usuario">
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="box" >
            <p>¡Gran trabajo con la página de repositorio de la biblioteca! Me encanta la forma en que está organizada y cómo se pueden buscar fácilmente los diferentes libros. También es genial poder ver la disponibilidad de cada libro. ¡Siguan asi!"
            </p>
            <div class="divider_1"></div>
            <div class="form-section">
                <form action="" method="post">
                    <!--<label for="title">Escribe tu comentario:</label><br>-->
                    <input type="text" id="title" name="title" placeholder="Escribe tu comentario" ><br>
                    <input type="submit" value="Enviar">
            </div>
        </div>
        <div class="box" id="segundo-box">
            <ul>
                <li>Quería agradecerles por proporcionar una página de repositorio tan útil para la biblioteca. La función de búsqueda es muy eficiente y los filtros de búsqueda ayudan a encontrar rápidamente los libros que estoy buscando. Además, aprecio la opción de ver reseñas y calificaciones de otros usuarios. ¡Buen trabajo!</li>
                <li>Me gustaría sugerir una mejora para la página de repositorio de la biblioteca. Sería genial tener la opción de ver una vista previa de los primeros capítulos de cada libro antes de decidir si quiero reservarlo. Esto sería de gran ayuda para evaluar si un libro se ajusta a mis intereses antes de tomar una decisión. ¡Gracias!</li>
                <li>¡Gran trabajo con la página de repositorio de la biblioteca! Me encanta la forma en que está organizada y cómo se pueden buscar fácilmente los diferentes libros por género. También es genial poder ver la disponibilidad de cada libro y reservarlo en línea. ¡Sigue así!</li>
                <li>La página de repositorio de la biblioteca es muy fácil de navegar y tiene un diseño atractivo. Sin embargo, he encontrado algunos enlaces rotos cuando intenté acceder a las reseñas de algunos libros. Sería genial si pudieran solucionar ese problema para mejorar la experiencia del usuario. Gracias.</li>
                <li>¡Felicidades por la página de repositorio de la biblioteca! La integración con las redes sociales es una adición ingeniosa. Me encanta la opción de compartir automáticamente los libros que he leído en mis perfiles. Es una excelente manera de recomendar lecturas a mis amigos. ¡Sigan así!</li>
                <li>Quería expresar mi gratitud por la página de repositorio de la biblioteca. Es increíblemente conveniente poder acceder al catálogo en línea y reservar libros desde la comodidad de mi hogar. Además, la opción de recibir notificaciones por correo electrónico cuando un libro está disponible es realmente útil. ¡Gracias por hacer que la experiencia de la biblioteca sea tan accesible y eficiente!</li>

            </ul>
                

            
        </div>
    </div> 
       
        
    
    
    <script src="../View/src/nav.js"></script>
</body>
</html>