<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../View/styles/navegacion.css">
    <!--<link rel="stylesheet" type="text/css" href="../View/styles/admin.css"> -->
    <link rel="stylesheet" type="text/css" href="../View/styles/busquedaNo.css">
    <title>BookVault</title>
</head>
<body>
    <nav id="navbar">
        <div class="nav-section">
            <div class="icon-menu" id="menu-icon">
                <img class="menu-icon" src="../View/imagenes/menu.png" alt="Menu">
            </div>
            <div class="divider">
                <img src="../View/imagenes/Titulo.png" alt="Divider">
            </div>
            <div class="search-bar" id="search-bar">
                <img class="search-icon" src="../View/imagenes/Busqueda.png" alt="Search">
                <input type="text" placeholder="Que vamos a buscar?">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/Retro.png" alt="Retroalimentacion">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/usuario.png" alt="Usuario">
            </div>
        </div>
    </nav>

    
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  






    <h1>Lo sentimos...</h1>
    <p> No contamos con el titulo <!--<span style="color:blue"> --> de su interés.</p>
    <p>Puede solicitar el libro que usted  </p>
    <p>desee, haciendo <span style="color:blue"> <a target="_blamk" href="../View/solicitud_libros.html"> click aqui.</a>
    </p>
  
</body>
</html>
    