<!DOCTYPE html>
<html>

<head>
    <title>Bienvenido</title>
    <link rel="stylesheet" type="text/css" href="../View/styles/styles_index.css">
    <meta name="viewport" content="width=device-width, initial-scale= 0.1">
    <link rel="stylesheet" type="text/css" href="../View/styles/navegacion.css">

</head>

<body>
    <header class=" header">
        <div class = "container "> 
            <div class = "btn-menu">
                <label for="btn-menu" class=""> <img class="menu-icon" src="../View/imagenes/menu.png" width="30px" height="30px" alt="Menu"></label>
            </div>

        </div>
    </header>

    <input type="checkbox" id = "btn-menu">
    
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#">
                    <img class="search-icon" src="../View/imagenes/Busqueda.png" width="20px" height="20px" alt="Search">
                    <input type="text" placeholder="Que vamos a buscar?">
                </a>
                
                
                <a href="#">
                    <img class="search-icon" src="../View/imagenes/Libro.png" width="30px" height="30px" alt="Search">
                    Solicitar Libros
                </a>
                <br>
                <a href="#">
                    <img class="search-icon" src="../View/imagenes/corazon.png" width="30px" height="30px" alt="Search">
                    Libros favoritos
                </a>
                <br>
                <a id="rojito" href="#">  
                    <img class="search-icon" src="../View/imagenes/salir.png" width="30px" height="30px" alt="Search">
                    cerrar sesión
                </a>
            </nav>
            <label for="btn-menu" class="icono-equis"> <img src="../View/imagenes/menu.png" style="transform:rotate(90deg)"; width="25px" height="30px" alt="menu" /></label>
            <!--<img id="img-letra" src="../View/imagenes/Titulo.png" width="180px" height="30px" alt="menu" />   -->
            <p id="img-letra"> BookVault</p>
        </div>
    </div>

</body>

</html>