<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../View/styles/navegacion.css">
    <link rel="stylesheet" type="text/css" href="../View/styles/favoritos.css">

    <title>BookVault</title>
</head>
<body>
    
    <nav id="navbar">
        <div class="nav-section">
            <div class="icon-menu" id="menu-icon">
                <img class="menu-icon" src="../View/imagenes/menu.png" alt="Menu">
                
            </div>
            <div class="divider">
                <img src="../View/imagenes/Titulo.png" alt="Divider">
            </div>
            <div class="search-bar" id="search-bar">
                <img class="search-icon" src="../View/imagenes/Busqueda.png" alt="Search">
                <input type="text" placeholder="Que vamos a buscar?">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/Retro.png" alt="Retroalimentacion">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/usuario.png" alt="Usuario">
            </div>
       |    
        </div>
    </nav>
    <section id="Favoritos">
        <div class="acc">
        <h2>Tus libros favoritos</h2>
     
            <img src="../View/imagenes/accesibilidad.png" alt="Accesibilidad">
        </div>
            <div class="slider">
                <div class="image-container">
                    <img src="../View/imagenes/mataraunruiseñor.jpg" alt="Imagen 1">
                    <img class="corazon" src="../View/imagenes/corazon.png" alt="Corazon">
                    <p>Titulo 1</p>
                </div>
                <div class="image-container">
                    <img src="../View/imagenes/lossantosinocentes.jpg" alt="Imagen 2">
                    <img class="corazon" src="../View/imagenes/corazon.png" alt="Corazon">
                    <p>Titulo 2</p>
                </div>
                <div class="image-container">
                    <img src="../View/imagenes/imagen8.jpg" alt="Imagen 2">
                    <img class="corazon" src="../View/imagenes/corazon.png" alt="Corazon">
                    <p>Titulo 3</p>
                </div>
                <div class="image-container">
                    <img src="../View/imagenes/imagen7.jpeg" alt="Imagen 2">
                    <img class="corazon" src="../View/imagenes/corazon.png" alt="Corazon">
                    <p>Titulo 4</p>
                </div>
                <div class="image-container">
                    <img src="../View/imagenes/imagen9.jpg" alt="Imagen 2">
                    <img class="corazon" src="../View/imagenes/corazon.png" alt="Corazon">
                    <p>Titulo 5</p>
                </div>
                </div>
          </section>
    </section>
</body>
</html>