<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido</title>
  <link rel="stylesheet" type="text/css" href="../View/styles/styles_index.css">
  <meta name="viewport" content="width=device-width, initial-scale= 0.1">
</head>
<body>
  <header>
    <div class="hamburguesa">
        <label for = "" class="icon-menu"></label> 
    </div>
    <nav>
      <ul>
        <li class = "logo">Book Valut</li>

        <div class="items">
            <li><a href="#carrusel1">Carrusel 1</a></li>
            <li><a href="#carrusel2">Carrusel 2</a></li>
            <li><a href="#carrusel3">Carrusel 3</a></li>
            <li><a href="#carrusel4">Carrusel 4</a></li>
        </div>
        <li class="BUSCADOR"><input type="text" placeholder="Búscar ">
        <span class="fas fa-search"></span>
        </li>
        </ul>
    </nav>
  </header>

  <section id="Horror" class="carrusel">
    <h2>Favoritos</h2>
    <div class="slider">
        <div class="image-container">
            <img src="../View/imagenes/imagen1.jpeg" alt="Imagen 1">
            <p>Lorem ipsum dolor sit .</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen2.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen3.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen4.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen5.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        </div>
  </section>

  <section id="carrusel2" class="carrusel">
    <h2>Miedo</h2>
    <div class="slider">
        <div class="image-container">
            <img src="../View/imagenes/imagen1.jpeg" alt="Imagen 1">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen2.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen3.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen4.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen5.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
    </div>
  </section>

  <section id="carrusel3" class="carrusel">
    <h2>Favoritos</h2>
    <div class="slider">
        <div class="image-container">
            <img src="../View/imagenes/imagen1.jpeg" alt="Imagen 1">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen2.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen3.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen4.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen5.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
    </div>
  </section>

  <section id="carrusel4" class="carrusel">
    <h2>Risa</h2>
    <div class="slider">
        <div class="image-container">
            <img src="../View/imagenes/imagen1.jpeg" alt="Imagen 1">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen2.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen3.jpg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen4.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
        <div class="image-container">
            <img src="../View/imagenes/imagen5.jpeg" alt="Imagen 2">
            <p>Descripción de la imagen 1</p>
        </div>
    </div>
  </section>

 <!-- <script src="carrusel.js"></script>-->
</body>
</html>
