<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../View/styles/navegacion.css">
    <link rel="stylesheet" type="text/css" href="../View/styles/lector.css">
    <title>BookVault</title>
</head>

<body>
    <nav id="navbar">
        <div class="nav-section">
            <div class="icon-menu" id="menu-icon">
                <img class="menu-icon" src="../View/imagenes/menu.png" alt="Menu">
            </div>
            <div class="divider">
                <img src="../View/imagenes/Titulo.png" alt="Divider">
            </div>
            <div class="search-bar" id="search-bar">
                <img class="search-icon" src="../View/imagenes/Busqueda.png" alt="Search">
                <input type="text" placeholder="Que vamos a buscar?">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/Retro.png" alt="Retroalimentacion">
            </div>
            <div class="icon-container_1" onclick="location.href=''">
                <img src="../View/imagenes/usuario.png" alt="Usuario">
            </div>
        </div>
    </nav>

    <div id="lector-container">
        <div id="lector-pdf">
            <div id="page-container">
                <canvas id="canvas-left"></canvas>
                <canvas id="canvas-right"></canvas>
            </div>
        </div>
        <div id="botones-paginas">
            <div class="botones-container">
                <img id="prev-btn" src="../View/imagenes/flecha_izquierda.png" alt="Anterior" disabled>
                <div id="pagina-input-container">
                    <input type="number" id="pagina-input" min="1" max="10" placeholder="pg.">
                    <button id="ir-btn">Ir</button>
                </div>
                <img id="next-btn" src="../View/imagenes/flecha_derecha.png" alt="Siguiente" disabled>
            </div>
        </div>
    </div>
    <div>
        <p>Agregar a tus libros favoritos</p>
        <img id="corazon" class="corazon-favorito" src="../View/imagenes/corazon-azul.png" onclick="agregarFav()" width="50" height="50">
        <script>
        function agregarFav() {
            var corazon = document.getElementById("corazon");
    
         if (corazon.getAttribute("src") === "../View/imagenes/corazon-azul.png") {
         corazon.setAttribute("src", "../View/imagenes/corazon-rojo.png");
         fetch('/lector', {
          method: 'POST',
          headers: {
          'Content-Type': 'application/json'
          },
        body: JSON.stringify({
        nombreAutor: 'Nombre del autor',
        fecha: 'Fecha actual',
        tituloLibro: 'Título del libro',
        usuarioId: 123, // ID del usuario actual
        libroId: 456 // ID del libro actual
    })
  })
  .then(response => response.json())
  .then(data => {
    // Manejar la respuesta del servidor si es necesario
    console.log(data);
  })
  .catch(error => {
    // Manejar errores de la solicitud
    console.error(error);
  });
         } else {
          corazon.setAttribute("src", "../View/imagenes/corazon-azul.png");
          }
          }
        </script>
    </div>

    <script src="src/nav.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>
    <script>
        let pdfDoc = null,
            pgNum = 1,
            pgRender = false,
            pgNumPending = null,
            canvasLeft = document.getElementById('canvas-left'),
            canvasRight = document.getElementById('canvas-right'),
            ctxLeft = canvasLeft.getContext('2d'),
            ctxRight = canvasRight.getContext('2d'),
            container = document.getElementById('lector-pdf'),
            prevButton = document.getElementById('prev-btn'),
            nextButton = document.getElementById('next-btn'),
            irBtn = document.getElementById('ir-btn'),
            paginaInput = document.getElementById('pagina-input');

        function gotoPage() {
            let pageNumber = parseInt(paginaInput.value);
            if (pageNumber <= pdfDoc.numPages) {
                pgNum = pageNumber;
                queueRenderPage(pgNum);
                paginaInput.value = '';
            }
        }

        function updateIrBtnStatus() {
            let pagina = parseInt(paginaInput.value);
            if (pgRender || paginaInput.value === '' ||
                pagina < 1 || pagina > pdfDoc.numPages ||
                pagina === pgNum || pagina === pgNum + 1) {
                irBtn.disabled = true;
            } else {
                irBtn.disabled = false;
            }
        }

        function renderPages() {
            pgRender = true;

            pdfDoc.getPage(pgNum).then(function (page) {
                let viewportLeft = page.getViewport({ scale: 1.5, rotation: 0 }),
                    viewportRight = page.getViewport({ scale: 1.5, rotation: 0 });

                // Ajustar tamaño del canvas
                canvasLeft.height = viewportLeft.height;
                canvasLeft.width = viewportLeft.width;
                canvasRight.height = viewportRight.height;
                canvasRight.width = viewportRight.width;

                let renderContextLeft = {
                    canvasContext: ctxLeft,
                    viewport: viewportLeft
                };

                let renderContextRight = {
                    canvasContext: ctxRight,
                    viewport: viewportRight
                };

                page.render(renderContextLeft).promise.then(function () {
                    if (pgNum + 1 <= pdfDoc.numPages) {
                        return pdfDoc.getPage(pgNum + 1);
                    } else {
                        return null;
                    }
                }).then(function (nextPage) {
                    if (nextPage) {
                        nextPage.render(renderContextRight).promise.then(function () {
                            pgRender = false;
                            if (pgNumPending !== null) {
                                renderPages(pgNumPending);
                                pgNumPending = null;
                            }
                        });
                    } else {
                        pgRender = false;
                    }
                });
            });

            if (pgNum === 1) {
                prevButton.disabled = true;
            } else {
                prevButton.disabled = false;
            }

            if (pgNum >= pdfDoc.numPages) {
                nextButton.disabled = true;
            } else {
                nextButton.disabled = false;
            }

            updateIrBtnStatus();
        }

        function queueRenderPage(num) {
            if (pgRender) {
                pgNumPending = num;
            } else {
                renderPages(num);
            }
        }

        function onPrevPage() {
            if (pgNum <= 1) {
                return;
            }
            pgNum -= 2;
            queueRenderPage(pgNum);
        }

        function onNextPage() {
            if (pgNum >= pdfDoc.numPages) {
                return;
            }
            pgNum += 2
            queueRenderPage(pgNum);
        }

        function initLectorPDF(pdfURL) {
            pdfjsLib.getDocument(pdfURL).promise.then(function (pdfDoc_) {
                pdfDoc = pdfDoc_;
                renderPages();
                nextButton.disabled = false;
            });
        }

        // Aqui se especifica el archivo a leer
        initLectorPDF('../../SEGUNDO MILESTONE.pdf');

        prevButton.addEventListener('click', onPrevPage);
        nextButton.addEventListener('click', onNextPage);
        irBtn.addEventListener('click', gotoPage);
        paginaInput.addEventListener('input', updateIrBtnStatus);

  
</script>
    </div>

</body>

</html>