<!DOCTYPE html>
<html>
    <head>
        <title>GESTIONAR LIBROS</title>
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/navegacion.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/admin.css">
    </head>
    <body>
        <nav id="navbar">
            <div class="nav-section">
                <div class="icon-menu" id="menu-icon">           
                    <img class="menu-icon" src="../public/images/menu.png" alt="Menu">       
                </div>
                <div class="divider">
                    <img src="../public/images/Titulo.png" alt="Divider">
                </div>
                <div class="search-bar" id="search-bar">
                    <img class="search-icon" src="../public/images/Busqueda.png" alt="Search">
                    <input type="text" placeholder="Que vamos a buscar?">
                </div>
                <div class="icon-container_1" onclick="location.href=''">
                    <img src="../public/images/Retro.png" alt="Retroalimentacion">
                </div>
                <div class="icon-container_1" onclick="location.href=''">
                    <img src="../public/images/usuario.png" alt="Usuario">
                </div>
            </div>
        </nav>
        

    </body>
</html>