<!DOCTYPE html>
<html>

<head>
    <title>Bienvenido</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_index.css">
    <meta name="viewport" content="width=device-width, initial-scale= 0.1">
    <link rel="stylesheet" type="text/css" href="stylesheets/navegacion.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">

</head>

<body>
    <header class=" header">
        <div class = "container "> 
            <div class = "btn-menu">
                <label for="btn-menu" class=""> <img class="menu-icon" src="images/menu.png" width="30px" height="30px" alt="Menu"></label>
            </div>

        </div>
    </header>

    <input type="checkbox" id = "btn-menu">
    
    <div class="container-menu">
        <div class="cont-menu">
            <nav id="narvar">
                
                <a href="#">
                    <img class="search-icon" src="images/Busqueda.png" width="20px" height="20px" alt="Search">
                    <input type="text" placeholder="Que vamos a buscar?">
                </a>
                
                <br>
                <a href="#">
                    <img class="search-icon" src="images/Libro.png" width="30px" height="30px" alt="Search">
                    Gestionar Libros
                </a>
                <br>
                <a href="#">
                    <img class="search-icon" src="images/corazon.png" width="30px" height="30px" alt="Search">
                    Ver Sugerencias
                </a>
                <br>
                    <a href="verretro">  
                        <img class="search-icon" src="images/Retro.png" width="30px" height="30px" alt="Search">
                        Ver Comentarios
                    </a>
                <br>
                <a id="rojito" href="#">  
                    <img class="search-icon" src="images/salir.png" width="30px" height="30px" alt="Search">
                    Cerrar sesión
                </a>
            </nav>
            <label for="btn-menu" class="icono-equis"> <img src="images/menu.png" style="transform:rotate(90deg)"; width="25px" height="30px" alt="menu" /></label>
            <!--<img id="img-letra" src="../View/imagenes/Titulo.png" width="180px" height="30px" alt="menu" />   -->
            <p id="img-letra"> BookVault</p>
        </div>
    </div>
        <div class="box" onclick="location.href='gestionarLibros.html'">
            <div class="icon-container">
                <img src="images/Upload.png" alt="Gestionar Libros">
            </div>
            <h2>Gestionar Libros</h2>
            <p>Apartado para gestionar libros por parte de un administrador.</p>
        </div>
        <br>
        <div class="box" onclick="location.href='gestionarUsuarios.html'">
            <div class="icon-container">
                <img src="images/usuario.png" alt="Gestionar Usuarios">
            </div>
            <h2>Gestionar Usuarios</h2>
            <p>Apartado para gestionar los usuarios </p>
        </div>

</body>

</html>