<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/navegacion.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/burger.css">

    <title>BookVault</title>
</head>
<body>
    <header class=" header">
        <div class = "container "> 
            <div class = "btn-menu">
                <label for="btn-menu" class=""> <img class="menu-icon" src="images/menu.png" width="30px" height="30px" alt="Menu"></label>
            </div>

        </div>
    </header>
    <input type="checkbox" id = "btn-menu">
    
    <div class="container-menu">
        <div class="cont-menu">
            <nav>                
                <a href="gestionar">
                    <img class="search-icon" src="images/Libro.png" width="40px" height="40px" alt="Search">
                    Gestionar Libro
                </a>
                <br>
                <a href="sugerencias">
                    <img class="search-icon" src="images/corazon.png" width="30px" height="30px" alt="Search">
                    Ver Sugerencias
                </a>
                <br>
                    <a href="verretro">  
                        <img class="search-icon" src="images/Retro.png" width="30px" height="30px" alt="Search">
                        Ver Comentarios
                </a>
                <br>
                <a id="rojito" href="/logout">  
                    <img class="search-icon" src="images/salir.png" width="30px" height="30px" alt="Search">
                    Cerrar sesión
                </a>
            </nav>
            <label for="btn-menu" class="icono-equis"> <img src="images/menu.png" style="transform:rotate(90deg)"; width="25px" height="30px" alt="menu" /></label>
            <!--<img id="img-letra" src="../View/imagenes/Titulo.png" width="180px" height="30px" alt="menu" />   -->
            <a href="/config"><p id="img-letra">BookVault</p></a>
        </div>
    </div>
    <div class="containerr">
        <div class="box" onclick="location.href='gestionar'">
            <div class="icon-containerr">
                <img src="images/Upload.png" alt="Gestionar Libros">
            </div>
            <h2>Gestionar Libros</h2>
            <p>Gestion de libros en compañeros.</p>
        </div>
        

        <div class="box" onclick="location.href='gestionarU'">
            <div class="icon-containerr">
                <img src="images/usuario.png" alt="Gestionar Usuarios">
            </div>
            <h2>Gestionar Usuarios</h2>
            <p>Gestion para los propios compañeros.</p>
        </div>
        <div class="box" onclick="location.href='verretro'">
            <div class="icon-containerr">
                <img src="images/Retro.png" alt="Gestionar Usuarios">
            </div>
            <h2>Ver Retroalimentación</h2>
            <p>¡Vamos, no puede ser tan malo!.</p>
        </div>
    </div>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/buscador.js"></script>
</body>
</html>