<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>
  <div class = "icono">
    <h1 class = "logo">BkVlt</h1>
  </div>
  <div class="login-container">
    <h1>BookVault</h1>
    <P>¿Aún no tienes cuenta? <A HREF="signup">Regístrate </A> </P>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nostrum nulla quos perspiciatis tempore, repellat enim optio reprehenderit tenetur, sed recusandae. Nulla ratione ut delectus laboriosam! Ex commodi facere voluptates.</p>
    <form class = "form-login">    
        <p>Correo electrónico: </p>
      <input type="text" placeholder="Usuario" id="usuario">
      <p>Password: </p>
      <input type="password" placeholder="Contrasena" id="contrasena">
      <button type="submit">Iniciar sesion</button>
    </form>
  </div>

 <footer>
  <div class="footer-container">
    <div class="footer-item">
      <h3>División 1</h3>
      <p>Contenido de la división 1</p>
    </div>
    <div class="footer-item">
      <h3>División 2</h3>
      <p>Contenido de la división 2</p>
    </div>
    <div class="footer-item">
      <h3>División 3</h3>
      <p>Contenido de la división 3</p>
    </div>
  </div>

  <script type = "module" src ="Javascripts/login.js" ></script>
  <script src="javascripts/buscador.js"></script>
</footer>



</body>
</html>