<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>
  <div class = "icono">
    <h1 class = "logo">BkVlt</h1>
  </div>
  <div class="login-container">
    <h1>BookVault</h1>
    <P>¿Aún no tienes cuenta? <A HREF="signup">Regístrate </A> </P>
    <p id = "colorcito">Somos una comunidad, somos ESCOM. Si no formas parte de ella, regístrate. Lo mejor que se puede compartir es el conocimiento. La soberanía del hombre está oculta en la dimension de sus conocimientos</p>
    <form class = "form-login" method="post" action="login">    
        <p>Correo electrónico: </p>
      <input type="text" placeholder="Usuario" name="email">
      <p>Password: </p>
      <input type="password" placeholder="Contrasena" name="password">
      <button type="submit">Iniciar sesion</button>
    </form>
  </div>

 <footer>
  <div class="footer-container">
    <div class="footer-item">
      <h3>Sígenos</h3>
      <a href = "https://www.instagram.com/dsc.escom.ipn/">
      <img class="redessociales" src="../images/ig.png" width="40px" height="40px" alt="Instagram"> 
      </a>
      <a href = "https://www.facebook.com/escomipnmx">
        <img class="redessociales" src="../images/fb.png" width="40px" height="40px" alt="Instagram">
      </a>
      <a href = https://www.escom.ipn.mx>
        <img class="redessociales" src="../images/ipn.png" width="40px" height="40px" alt="Instagram">
      </a>
      
      
    </div>
    <div class="footer-item">
      <h3>About</h3>
      <a href = "">
          About
      </a>
      <br>
      <a href = "">
        Home
      </a>
      <br>
      <a href = "">
        Capabilities
      </a>
    </div>
    <div class="footer-item">
      <h3>Legal</h3>
      <br>
      <a href = "">
        Legal
    </a>
    <br>
      <a href = "">
        Privacidad  
    </a>
    </div>
  </div>

  <!--<script type = "module" src ="Javascripts/login.js" ></script>-->
</footer>



</body>
</html>