<!DOCTYPE html>
<html>
<head>
  <title>sign up</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  
</head>
<body>
  <div class="containerSIGN">
    <h1>Registro</h1>
    <form id="signup-form">
      <input type="text" id="nombre" placeholder="Nombre">
      <input type="email" id="email" placeholder="Correo electrónico">
      <input type="password" id="pass" placeholder="Contraseña">
      <input type="EDAD" id="edad" placeholder="edad">
      <input type="submit" value="Registrarse">
    </form>
  </div>

  <!-- FIREBASE -->
  
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp,getAuth } from "https://www.gstatic.com/firebasejs/9.22.2/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyDIPU2kRQAplS2jMhW5U_35SV3yr3lYuok",
      authDomain: "codevaultin.firebaseapp.com",
      projectId: "codevaultin",
      storageBucket: "codevaultin.appspot.com",
      messagingSenderId: "696211604749",
      appId: "1:696211604749:web:818da3f6f1d48c36a15c44"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth();

    
  </script>
    <!-- FIREBASE finaliza modulo-->

    <!--MI CODIGO CREADO-->
    <script src = "javascripts/signup.js"></script>
</body>
</html>
