<!DOCTYPE html>
<html>

<head>
  <title>sign up</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

</head>

<body>
  <div class="containerSIGN">
    <h1>Registro</h1>
    <form id="signup-form">
      <input type="text" id="nombre" placeholder="Nombre">
      <input type="email" id="email" placeholder="Correo electrónico">
      <input type="password" id="pass" placeholder="Contraseña">
      <input type="EDAD" id="edad" placeholder="edad">
      <input type="submit" value="Registrarse">
    </form>
  </div>

  <!-- FIREBASE -->
  <script type="module" src="javascripts/signup.js"></script>
</body>

</html>