<!DOCTYPE html>
<html>

<head>
  <title>sign up</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

</head>

<body>
  <div class="containerSIGN">
    <h1>Registro</h1>
    <form id="signup-form" method="post" action="signup">
      <input type="text" name="nombres" placeholder="Nombre">
      <input type="email" name="email" placeholder="Correo electrónico">
      <input type="password" name="password" placeholder="Contraseña">
      <input type="EDAD" name="EDAD" placeholder="edad">
      <input type="submit" value="Registrarse">
    </form>
  </div>

  <!-- FIREBASE 
  <script type="module" src="javascripts/signup.js"></script>
  -->
</body>

</html>