<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/navegacion.css"> 
    <link rel="stylesheet" type="text/css" href="stylesheets/solicitud.css"> 
    <link rel="stylesheet" type="text/css" href="stylesheets/burger.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
    <title>BookVault</title>
</head>
<body>
    <header class=" header">
        <div class = "container "> 
            <div class = "btn-menu">
                <label for="btn-menu" class=""> 
                <img class="menu-icon" src="images/menu.png" width="30px" height="30px" alt="Menu"></label>
            </div>
            <div class="divider">
                <img src="images/Titulo.png" width="260px" height="40px" alt="TituloDivider">
            </div>
              
            <div class="search-bar" id="search-bar">
                <img class="search-icon" src="images/Busqueda.png" alt="Search">
               <input type="text" placeholder="Que vamos a buscar?" id = "autocomplete_search">
               <span class="fas fa-search"></span> 
            </div>
        </div>
    
        
    </header>
    <input type="checkbox" id = "btn-menu">
    
    <div class="container-menu">
        <div class="cont-menu">
            <nav>                
                <a href="solicitud">
                    <img class="search-icon" src="images/Libro.png" width="30px" height="30px" alt="Search">
                    Solicitar Libro
                </a>
                <br>
                <a href="favoritos">
                    <img class="search-icon" src="images/corazon.png" width="30px" height="30px" alt="Search">
                    Libros Favoritos
                </a>
                <br>
                    <a href="retroalimentacion">  
                        <img class="search-icon" src="images/Retro.png" width="30px" height="30px" alt="Search">
                        Comentar
                </a>
                <br>
                <a id="rojito" href="#">  
                    <img class="search-icon" src="images/salir.png" width="30px" height="30px" alt="Search">
                    Cerrar sesión
                </a>
            </nav>
            <label for="btn-menu" class="icono-equis"> <img src="images/menu.png" style="transform:rotate(90deg)"; width="25px" height="30px" alt="menu" /></label>
            <!--<img id="img-letra" src="../View/imagenes/Titulo.png" width="180px" height="30px" alt="menu" />   -->
            <p id="img-letra">BookVault</p>
        </div>
    </div> <!--tengo dudas-->


    <div class="containerrr">
        <div class="text-section">
            <h2>Solicita tu libro aqui!!!</h2>
            <p>Agrega los datos para añadirlo</p>
        </div>
        <div class="divider_1"></div>
        <div class="form-section">
            <form action="" method="post">
                <label for="title">Título:</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="author">Autor:</label><br>
                <input type="text" id="author" name="author"><br>
                <label for="edition">Edición:</label><br>
                <input type="text" id="edition" name="edition"><br>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/buscador.js"></script>
    
</body>
</html>