<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/navegacion.css">
    <!--<link rel="stylesheet" type="text/css" href="../View/styles/solicitud.css"> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/subirlibrosadmin.css">

    <title>BookVault</title>
</head>
<body>
    <nav id="navbar">
        <div class="nav-section">
            <div class="icon-menu" id="menu-icon">
                <img class="menu-icon" src="images/menu.png" alt="Menu">
            </div>
            <div class="divider">
                <img src="images/Titulo.png" alt="Divider">
            </div>
            <div class="search-bar" id="search-bar">
                <img class="search-icon" src="images/Busqueda.png" alt="Search">
                <input type="text" placeholder="Buscar " id="autocomplete_search" />
                <span id="search_result"></span>
            </div>
            <div class="icon-container_1" onclick="location.href='retroalimentacionUsuarios'">
                <img src="images/Retro.png" alt="Retroalimentacion">
            </div>
            <div class="icon-container_1" onclick="location.href='index'">
                <img src="images/usuario.png" alt="Usuario">
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="text-section">
            <h2>Subir Libro</h2>
            <form action="/subirLibros" method="post" enctype="multipart/form-data">
                <label for="ISBN">ISBN:</label><br>
                <input type="text" id="ISBN" name="ISBN" required><br>
                <label for="nombreAutor">Nombre del Autor:</label><br>
                <input type="text" id="nombreAutor" name="nombreAutor" required><br>
                <label for="apellidosAutor">Apellidos del Autor:</label><br>
                <input type="text" id="apellidosAutor" name="apellidosAutor" required><br>
                <label for="edicion">Edición:</label><br>
                <input type="text" id="edicion" name="edicion" required><br>
                <label for="cantidadPaginas">Cantidad de Páginas:</label><br>
                <input type="number" id="cantidadPaginas" name="cantidadPaginas" required><br>
                <label for="titulo">Título:</label><br>
                <input type="text" id="titulo" name="titulo" required><br>
                <label for="ciudad">Ciudad:</label><br>
                <input type="text" id="ciudad" name="ciudad" required><br>
                <label for="editorial">Editorial:</label><br>
                <input type="text" id="editorial" name="editorial" required><br>
                <label for="genero">Género:</label><br>
                <input type="text" id="genero" name="genero"><br>
                <label for="yearEdicion">Año de Edición:</label><br>
                <input type="number" id="yearEdicion" name="yearEdicion" required><br>
                <label for="pdfFile">Archivo PDF:</label><br>
                <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" required><br>
                <label for="imageFile">Imagen del Libro:</label><br>
                <input type="file" id="imageFile" name="imageFile" accept=".jpg, .jpeg, .png" required><br>
                <input type="submit" value="Subir Libro">
            </form>
        </div>
    </div>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/buscador.js"></script>
</body>
</html>
