<!DOCTYPE html>
<html>
    <head>
        <title>VER RETROALIMENTACIÓN</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/burger.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/styles_index.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/navegacion.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/gestionSugerencia.css">
    </head>
    <body>
        <header class=" header">
            <div class = "container "> 
                <div class = "btn-menu">
                    <label for="btn-menu" class=""> <img class="menu-icon" src="images/menu.png" width="30px" height="30px" alt="Menu"></label>
                </div>
    
            </div>
        </header>
        <input type="checkbox" id = "btn-menu">
        
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="#">
                        <img class="search-icon" src="images/Busqueda.png" width="20px" height="20px" alt="Search">
                        <input type="text" placeholder="Que vamos a buscar?">
                    </a>
                    
                    <a href="gestionar">
                        <img class="search-icon" src="images/Libro.png" width="30px" height="30px" alt="Search">
                        Gestionar Libros
                    </a>
                    <br>
                    <a href="sugerencias">
                        <img class="search-icon" src="images/corazon.png" width="30px" height="30px" alt="Search">
                        Ver Sugerencias
                    </a>
                    <br>
                    <a href="verretro">  
                        <img class="search-icon" src="images/Retro.png" width="30px" height="30px" alt="Search">
                        Ver Comentarios
                    </a>
                    <br>
                    <a id="rojito" href="#">  
                        <img class="search-icon" src="images/salir.png" width="30px" height="30px" alt="Search">
                        Cerrar sesión
                    </a>
                </nav>
                <label for="btn-menu" class="icono-equis"> <img src="images/menu.png" style="transform:rotate(90deg)"; width="25px" height="30px" alt="menu" /></label>
                <a href="/config"><p id="img-letra">BookVault</p></a>
            </div>
        </div>


<div id="table-container">
<table>
    <thead>
        <tr>
            <th>COMENTARIOS</th>
        </tr>
    </thead>
    <tbody>
        <% results1.forEach((retro)=> { %>
            <tr>
                <td><%= retro.mensajeRetro %></td>
               
            </tr>
        <% }) %>
    </tbody>
   
   
    </table>
    
</div>
</div>
        

    </body>
</html>