body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../images/Fondo_Oscuro.png);
    background-size: cover;
}

.container {
    display: flex;
    width: 50%;
    height: 60%;
    border-radius: 40px;
    background-color: #fff;
}

.text-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider_1 {
    margin-top: 60px;
    width: 2.5px;
    height: 75%;
    background-color: #000;
}

.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-family: 'Cocogoose Pro Regular', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-family: 'Cocogoose Pro UltraLight', sans-serif;
    font-size: 18px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
}

.form-section label{
    font-family: 'Cocogoose Pro Regular', sans-serif;
    font-size: 20px;
    color: #000;
}

.form-section input[type="text"]{
    font-family: 'Cocogoose Pro UltraLight', sans-serif;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0087ca90;
}


input[type="submit"] {
    font-family: 'Cocogoose Pro Regular', sans-serif;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #0085CA;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006699;
}
