body {
    font-family: Arial, sans-serif;
    padding-bottom: 3em;
    margin: 0;
    background-image: url(../imagenes/background.jpg);

    min-height: 100vh;
}


h1{
    color:blue;
    font-family: 'Cocogoose Pro Regular', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 70px;
    
}

    p {
        font-family: 'Cocogoose Pro UltraLight', sans-serif;
        font-size: 18px;
        color: #000;
    
        margin-left: 70px;
    }

