body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url(../src/Fondo.png);
    background-size: cover;
}

.container {
    display: flex;
    margin-top: 200px;
    width: 65%;
    height: 100%;
    border-radius: 60px;
    background-color: #ffff;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
}

.text-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divide {
    width: 2.5px;
    background-color: #0B27D6;
}

.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Cocogoose Pro Regular', sans-serif;
    font-size: 54px;
    color: #0B27D6;
}

p {
    text-align: center;
    font-family: 'Cocogoose Pro Light', sans-serif;
    font-size: 24px; 
    color: #0B61E0; 
}

label {
    font-family: 'Cocogoose Pro Light', sans-serif;
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.form-section input[type="text"] {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
    background-color: rgba(11, 38, 214, 0.25);
    border: none
}

.form-section input[type="submit"] {
    font-family: 'Cocogoose Pro Regular', sans-serif;
    font-size: 36px;
    width: 50%;
    padding: 10px;
    margin-top: 10%;
    border-radius: 50px;
    border: none;
    color: #ffff;
    background-color: #0B27D6;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0B61E0;
}